<html>
  <head>
    {% if title %}
    <title>{{ title }} - tesrv1</title>
    {% else %}
    <title>tesrv1</title>
    {% endif %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/github_md.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style_override.css') }}">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body>
    <div>Test Engineering Server 1: <a class="nav_link" href="/index">Home</a> {% block more_links %}{% endblock %}</div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
